# path:       /home/klassiker/.local/share/repos/aur-packages/pandoc-bin/.gitignore
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/aur-packages
# date:       2020-11-20T12:24:29+0100

/pkg/
/src/
/*.tar.gz
/*.pkg.tar.zst
