pkgbase = pandoc-bin
    pkgdesc = Pandoc - executable only, without 750MB Haskell depends/makedepends
    pkgver = 2.11.0.4
    pkgrel = 1
    url = http://pandoc.org
    arch = x86_64
    license = GPL
    optdepends = texlive-core: for pdf output
    provides = pandoc
    conflicts = pandoc
    replaces = pandoc-static
    replaces = pandoc-lite
    source = https://github.com/jgm/pandoc/releases/download/2.11.0.4/pandoc-2.11.0.4-linux-amd64.tar.gz
    source = https://github.com/jgm/pandoc/archive/2.11.0.4.tar.gz
    sha256sums = 94e070f3eff83fa0692461047dbf7bcd0f58d96f3235c66d7366a22e42786ac0
    sha256sums = 9184426ff31519d1c7cf2fc844579142760cb22a6daec60dd4b976e47d1f9a00

pkgname = pandoc-bin
