# path:       /home/klassiker/.local/share/repos/aur-packages/.gitignore
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/aur-packages
# date:       2020-11-13T12:38:29+0100

# pandoc-bin
pandoc-bin/pkg/
pandoc-bin/src/
pandoc-bin/*.tar.gz
pandoc-bin/*.pkg.tar.zst

# rxvt-unicode
rxvt-unicode-truecolor-wide-glyphs/pkg/
rxvt-unicode-truecolor-wide-glyphs/src/
rxvt-unicode-truecolor-wide-glyphs/*.tar.bz2
rxvt-unicode-truecolor-wide-glyphs/*.pkg.tar.zst

# wg++
wg++/pkg/
wg++/src/
wg++/*.zip
wg++/*.tar.gz
wg++/*.pkg.tar.zst
