# path:   /home/klassiker/.local/share/repos/aur-packages/wg++/.gitignore
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/aur-packages
# date:   2021-01-15T13:28:24+0100

/pkg/
/src/
/*.zip
/*.tar.gz
/*.pkg.tar.zst
