# path:       /home/klassiker/.local/share/repos/aur-packages/wg++/.gitignore
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/aur-packages
# date:       2020-11-20T12:23:58+0100

/pkg/
/src/
/*.zip
/*.tar.gz
/*.pkg.tar.zst
