pkgbase = wg++
	pkgdesc = WebGrab+Plus is a free multi-site incremental XMLTV EPG grabber.
	pkgver = 3.1.0_20201105133501
	pkgrel = 1
	url = http://webgrabplus.com/
	arch = any
	license = custom
	depends = mono
	provides = wg++
	source = http://webgrabplus.com/sites/default/files/download/SW/V3.1.0/WebGrabPlus_V3.1_install.tar.gz
	source = http://webgrabplus.com/sites/default/files/download/ini/SiteIni.Pack_2020.11.05_133501.zip
	source = wg++
	md5sums = 1f1ee11bb0c7db9068a6833788079d1b
	md5sums = f42a99546d74366bd3eef63a653142ec
	md5sums = 96ddf77a84554bb457dab4fd63e82ae6

pkgname = wg++

